/** fontes **/
@font-face {
    font-family: "DareDarling";
    src: url(fonts/daredarling/DareDarling.otf) format("truetype");
}

@font-face {
    font-family: "NewYork";
    src: url(fonts/NewYork/NewYork.ttf) format("truetype");
}

/** page d'accueil **/

/** header **/
header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1
{
    font-family: "DareDarling";
    font-size: 6em;
}

h1 a
{
    color: black;
    text-decoration: none;
}

/** navigation **/
nav
{
    width: 600px;
}

.menu
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 140px;
}

.menu li
{
    font-family: "NewYork";
    font-size: 1em;
    list-style-type: none;
    color: black;
    padding: 20px;
}

.menu li a
{
    color: black;
    text-decoration: none;
}

.menu li a:hover
{
    color: blueviolet;
}

/** conteneur principal **/
.main
{
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 240, 240);
    padding: 50px;
}

/** section produits **/
section
{
    flex: 4;
}

h2
{
    font-family: "NewYork";
    font-size: 1.7em;
    color: black;
}

p
{
    font-family: "NewYork";
    font-size: 1em;
    color: black;
}

.products
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1200px;
}

.product-block
{
    margin-top: 20px;
}

.product-image
{
    border: transparent 3px solid;
    max-width: 350px;
}

.product-image:hover
{
    border: blueviolet 3px solid;
}

.product-label
{
    width: 200px;
    font-family: "NewYork";
    font-size: 0.9em;
    color: black;
}

.product-image-api img
{
    width: 350px;
}

.supp-product
{
    width: 200px;
    height: 200px;
    background-color: white;
}

.btn-clear
{
    width: 140px;
    height: 50px;
    border-radius: 30px;
    background-color: blueviolet;
    position: relative;
}

.btn-clear p
{
    text-align: center;
    font-family: "NewYork";
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 40px;
    top: -10px;
}

/** aside **/
aside
{
    border: 2px solid white;
    border-radius: 30px;
    min-width: 300px;
    position: relative;
    margin-left: 20px;
}

h3
{
    font-family: "NewYork";
    font-size: 1em;
    color: black;
    text-align: center;
}

.btn-custom
{
    position: absolute;
    bottom: 10px;
    left: 45px;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    background-color: blueviolet;
}

.btn-custom p
{
    text-align: center;
    font-family: "NewYork";
    font-size: 1.4em;
    color: white;
    position: absolute;
    top: -8px;
    left: 62px;
}

.btn-continue
{
    width: 220px;
    height: 50px;
    border-radius: 30px;
    background-color: blueviolet;
    position: relative;
}

.btn-continue a
{
    text-align: center;
    font-family: "NewYork";
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 55px;
    top: 10px;
}

/** footer **/
footer
{
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
}

footer p
{
    font-family: "NewYork";
    font-size: 0.8em;
    color: darkgrey;
    padding: 10px;
}

/** responsive **/

@media screen and (max-width : 450px)
{
    /** header **/
    header
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    figure
    {
        width: 80px;
        margin: 0px;
    }

    h1
    {
        font-family: "DareDarling";
        font-size: 4em;
    }

    h1 a
    {
        color: black;
        text-decoration: none;
    }

    /** navigation **/
    nav
    {
        width: 400px;
    }

    .menu
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0px;
        position: absolute;
        top: 100px;
    }

    .menu li
    {
        font-family: "NewYork";
        font-size: 0.8em;
        list-style-type: none;
        color: black;
        padding: 20px;
    }

    .menu li a
    {
        color: black;
        text-decoration: none;
    }

    .menu li a:hover
    {
        color: blueviolet;
    }

    /** conteneur principal **/
    .main
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(240, 240, 240);
        padding: 20px;
    }

    /** section produits **/
    section
    {
        flex: 4;
    }

    h2
    {
        font-family: "NewYork";
        font-size: 1.7em;
        color: black;
    }

    .products
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 900px;;
    }

    .product-image
    {
        border: transparent 3px solid;
    }

    .product-image:hover
    {
        border: blueviolet 3px solid;
    }

    .product-label
    {
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product-label p
    {
        font-family: "NewYork";
        font-size: 0.9em;
        color: black;
    }

    .supp-product
    {
        display: none;
    }

    /** aside **/
    aside
    {
        border: 2px solid white;
        border-radius: 30px;
        min-width: 280px;
        min-height: 480px;
        position: relative;
        margin-left: 0px;
    }

    h3
    {
        font-family: "NewYork";
        font-size: 1em;
        color: black;
        text-align: center;
    }

    .btn-custom
    {
        position: absolute;
        left: 30px;
        bottom: 10px;
        width: 220px;
        height: 50px;
        border-radius: 30px;
        background-color: blueviolet;
    }

    .btn-custom p
    {
        text-align: center;
        font-family: "NewYork";
        font-size: 1.4em;
        color: white;
        position: absolute;
        top: -8px;
        left: 50px;

    }

}

/** page product **/

.selection
{
    min-height: 400px;
}

/** formulaires **/

.details
{
    padding-left: 20px;
}

label
{
    font-family: "NewYork";
    font-size: 1em;
    color: black;
}

input
{
    height: 20px;
    border: blueviolet 2px solid;
    border-radius: 30px;
    margin-bottom: 15px;
}